<!doctype html>

<head>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Acorn on Civo Kubernetes</title>
    <link rel="stylesheet" href="https://unpkg.com/awsm.css/dist/awsm.min.css">
</head>

<body style="background-color: white">
      
    <header>
        <h1>Welcome to Acorn app demo on Civo Kubernetes</h1>
        <p>
            What do you use to deploy to k8s?
        </p>
    </header>
    <main>
        <form action="/howdy" method="post">
                Answer me: <input type="text" name="name">  <br />
                
                <input type="submit" name= "form" value="Submit" />
            </form>
        
        <br>
    </main>
<p style="font-family: 'Poppins', sans-serif; font-weight: bold; line-height: 2rem; font-size:1.3rem; color: white; text-align: center; padding: 15px; background-color: #1B2731">Website : civo.com<br>Twitter : @CivoCloud <br>Demo By : Saiyam Pathak
</p>
</body>
